* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.inputBoxs {
    width: 780px;
    margin: auto;
    display: flex;
    margin-left: 30%;
  }
.containers {
    display: flex;
    flex-wrap: wrap;
  }
.containers .option_item {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    
  }
  
  .containers .option_item .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
  }
  
  .option_item .option_inner {
    width: 20%;
    height: 20%;
    background: rgb(158, 149, 149);
    border-radius: 5px;
    text-align: center;
    padding: 25px 25px;
    cursor: pointer;
    color: #585c68;
    display: block;
    border: 5px solid transparent;
    position: relative;
  }
  
  .option_item .checkbox:checked ~ .option_inner.sizees {
    border-color: #3b5999;
    color: #3b5999;
  }
  
  .option_item .option_inner .tickmark {
    position: absolute;
    top: -1px;
    left: -1px;
    border: 20px solid;
    border-color: #000 transparent transparent #000;
    display: none;
  }
  
  .option_item .option_inner .tickmark:before {
    content: "";
    position: absolute;
    top: -18px;
    left: -18px;
    width: 10px;
    height: 5px;
    border: 3px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
  }
  
  .option_item .checkbox:checked ~ .option_inner .tickmark {
    display: block;
  }
  
  .option_item .option_inner.sizees .tickmark {
    border-color: #3b5999 transparent transparent #3b5999;
  }
  
  
  
  